.content-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--about-background-color);
    border: 2px solid var(--about-border-color);
    border-radius: 10px;
}

.content-container h1 {
    color: var(--title-color);
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
}

.content-container a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    color: var(--link-hover-text-color);
    background-color: var(--link-hover-background-color);
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.content-container a:hover {
    background-color: var(--about-hover-border-color);
    color: var(--background-primary);
}
